/* Общие стили */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; /* Пастельный фон */
  color: #333; /* Цвет текста */
}

header {
  background-color: #a8d8e0; /* Пастельный цвет для заголовка */
  color: #fff; /* Цвет текста в заголовке */
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff; /* Цвет текста ссылок в навигации */
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #a8d8e0; /* Пастельный цвет для подвала */
  color: #fff; /* Цвет текста в подвале */
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Специфические стили для каждой страницы */

/* Для главной страницы */
h1 {
  color: #333; /* Цвет заголовков */
}

/* Для страницы "О нас" */
/* Для страницы "Контакты" */
